.App {
  margin: 30px auto;
  max-width: 550px;
}

.App .container {
  background: linear-gradient(
    111.1deg,
    rgb(104 159 202) -4.8%,
    rgb(255, 115, 115) 82.7%,
    rgb(255, 175, 123) 97.2%
  );
  border: 1px solid rgb(135, 135, 135);
  border-radius: 10px;
  padding: 16px;
}

.App footer {
  font-size: 12px;
  margin: 10px 0;
}
