.Weather {
  color: rgb(53, 48, 48);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 10px 0 0;
  padding: 16px;
}

.Weather ul {
  margin: 0 0 20px;
  padding: 0;
  font-style: italic;
}

.Weather li {
  color: rgb(53, 48, 48);
  font-size: 16px;
  font-weight: 500;
  height: 18px;
  line-height: 1;
  list-style: none;
}

.Weather form {
  margin: -10px 0 0 0;
}

.Weather .current-weather {
  margin-top: 50px;
  display: inline-block;
}

.Weather .temperature {
  font-size: 75px;
  font-weight: 500;
  color: #353030;
  position: relative;
  bottom: 85px;
  left: 85px;
  line-height: 1;
}

.Weather .unit {
  position: relative;
  bottom: 125px;
  left: 85px;
  font-size: 15px;
  font-weight: 500;
}

.Weather .current-weather {
  margin: 15px 0 0 0;
}

.Weather .current-weather-info {
  font-size: 15px;
  font-style: italic;
  margin-top: -10px;
  font-weight: 400;
}
