.Weather {
  color: rgb(53, 48, 48);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 10px 0 0;
  padding: 16px;
}

.Weather ul {
  margin: 0 0 20px;
  padding: 0;
}

.Weather li {
  color: rgb(53, 48, 48);
  font-size: 16px;
  font-weight: 500;
  height: 18px;
  line-height: 1;
  list-style: none;
}

.Weather strong {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 5px;
}

.Weather form {
  margin: -10px 0 0 0;
}

.Weather canvas {
  height: 75px;
  width: 75px;
  margin-top: 50px;
  margin-left: 30px;
  display: inline-block;
}

.Weather .temperature {
  font-size: 75px;
  font-weight: 500;
  margin-left: 8px;
}
